body
  :height 100%
  #container
    :height inherit
#ai-maker-wrapper
  :width 80%
  :margin auto
  #ai-code-list
    :overflow hidden
    li.add-form-wrapper
      :overflow hidden
      a, form
        :float left
      form
        :overflow hidden
        :margin-left 5px
        fieldset
          :float left
          input[type=text]
            :width 100px
    li
      :float left
      :margin-right 10px
      :cursor pointer
      :cursor hand
      &.selected
        :cursor default
  #user_ai
    :width 100%
    :height 100px
#console-debug
  :overflow hidden
.console-output
  :width 180px
  :float left
  :padding 10px
  :margin 10px
  :border 1px solid black
#board
  :width 50%
  :margin auto
  :overflow hidden
  :height 500px
  .space
    :cursor pointer
    :cursor hand
    :float left
    :width 33%
    :height 33%
    :text-align center
    :border 1px solid black
    &.selected
      &.user
        :background-color red
      &.computer
        :background-color blue
      &.winning-space
        :background-color green
  #space-0, #space-1, #space-2
    :border-top none
  #space-6, #space-7, #space-8
    :border-bottom none
  #space-0, #space-3, #space-6
    :border-left none
  #space-2, #space-5, #space-8
    :border-right none