@import base.sass

#container.logged-out
  #content
    :overflow hidden
  #account-bar-wrapper
    :background-image url(/images/login.png)
    :background-position right
    :background-repeat no-repeat
    :float right
    :height 600px
    :width 485px
    #logged-out-wrapper
      :margin-top 352px
      :margin-left 62px
      :width 343px
      #login-signup-link-wrapper
        :font-size 2em
        :text-align center
        :padding-top 32px
        #show-login-form-link
          :margin-bottom 20px
          :padding-bottom 20px
          :border-bottom 1px solid black
        a
          :text-decoration none
        
      form
        li
          :overflow hidden
          :margin-bottom 10px
          label
            :float left
            :width 90px
          input[type=text], input[type=password]
            :float left
            :width 140px
          &.boolean
            label
              :width 125px
        fieldset.buttons
          ol
            :overflow hidden
            li
              :float left
              :margin-right 20px
              
#container.logged-out
  #tic-tac-toe-overview
    :float left
    :margin-top 18px
    :margin-left 15px
    :width 50%
    #title
      :overflow hidden
      :margin-bottom 5px
      :height 3em
      h1
        :float left
        :font-size 2.2em
      h2
        :float left
        :font-size 1.7em
        :margin-top 0.3em
        :margin-left 5px
    #my-name
      :font-size 2em
      :margin-left 40px
      span#meeeee
        :color #008300
  #overview
    :margin-top 20px
    .ui-widget-header
      :background none
      :border none
    ul#overview-tabs
      :overflow hidden
      :border-bottom 1px solid black
      li
        :float left
        :margin-right 10px
        :cursor pointer
        :cursor hand
        a
          :display block
          :background-color #CEE3F8
          :border 1px solid #5F99CF
          :padding 3px
          :border-bottom 0
          +border-radius(5px, top)
          :text-decoration none
          :color black
        &.ui-tabs-selected
          a
            :background-color white
          &:hover
            a
              :background-color white
        &:hover
          a
            :background-color #F2F5FF
    .ui-tabs-hide
      :display none
  #tech-specs
    h3
      :line-height 1.3em
      :margin-bottom 5px
    p
      :margin-bottom 10px
      :line-height 1.2em
    dl
      :overflow hidden
      :margin-bottom 10px
      :width 400px
      :line-height 1.5em
      :margin-left 20px
      dt
        :float left
        :width 145px
        :text-align right
        :margin-right 10px
      dd
        :float left
        :width 200px