body {
  height: 100%; }
  body #container {
    height: inherit;
    margin: 0 10px; }

#ai-code-wrapper {
  width: 40%;
  height: inherit;
  float: left;
  padding-right: 1%;
  border-right: 1px solid black; }
  #ai-code-wrapper #ai-code-list {
    padding-top: 5px;
    overflow: hidden;
    line-height: 25px; }
    #ai-code-wrapper #ai-code-list li.add-form-wrapper {
      overflow: hidden; }
      #ai-code-wrapper #ai-code-list li.add-form-wrapper a, #ai-code-wrapper #ai-code-list li.add-form-wrapper form {
        float: left; }
      #ai-code-wrapper #ai-code-list li.add-form-wrapper form {
        overflow: hidden;
        margin-left: 5px; }
        #ai-code-wrapper #ai-code-list li.add-form-wrapper form fieldset {
          float: left; }
          #ai-code-wrapper #ai-code-list li.add-form-wrapper form fieldset input[type=text] {
            width: 100px; }
    #ai-code-wrapper #ai-code-list li {
      float: left;
      margin-right: 10px;
      cursor: pointer;
      cursor: hand; }
    #ai-code-wrapper #ai-code-list li.load-ai-code {
      background-color: #cee3f8;
      border: 1px solid #5f99cf;
      padding: 3px;
      border-bottom: 0;
      -border-radius-topleft: 5px;
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      -border-radius-topright: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px;
      overflow: hidden; }
      #ai-code-wrapper #ai-code-list li.load-ai-code.published {
        color: green; }
      #ai-code-wrapper #ai-code-list li.load-ai-code .name {
        float: left;
        margin-right: 5px; }
      #ai-code-wrapper #ai-code-list li.load-ai-code form {
        float: left; }
        #ai-code-wrapper #ai-code-list li.load-ai-code form .publishing-actions {
          margin-top: 3px;
          display: none; }
      #ai-code-wrapper #ai-code-list li.load-ai-code.selected {
        cursor: default;
        background-color: white; }
        #ai-code-wrapper #ai-code-list li.load-ai-code.selected .publishing-actions {
          display: block; }
  #ai-code-wrapper #user_ai {
    width: 100%;
    height: 100%;
    margin: 0; }

#content {
  width: 58%;
  margin-left: 41%;
  padding-left: 1%; }

#header {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px; }

#board-wrapper {
  margin-left: 5px; }

#logged-in-wrapper {
  overflow: hidden; }
  #logged-in-wrapper #logo {
    float: left; }
    #logged-in-wrapper #logo h1, #logged-in-wrapper #logo h2 {
      float: left; }
    #logged-in-wrapper #logo h1 {
      margin-right: 2px;
      font-size: 1.5em; }
    #logged-in-wrapper #logo h2 {
      font-size: 1.3em;
      padding-top: 3px; }
  #logged-in-wrapper #account {
    float: right; }
  #logged-in-wrapper #login-name {
    float: left;
    margin-right: 20px;
    padding-top: 3px; }
    #logged-in-wrapper #login-name span.name {
      font-weight: bold;
      font-size: 1.2em; }
  #logged-in-wrapper #logout-link {
    padding-top: 5px;
    float: left; }

#console-debug {
  overflow: hidden; }

.console-output {
  width: 180px;
  float: left;
  padding: 10px;
  margin: 10px;
  border: 1px solid black; }

#tic-tac-toe {
  padding-top: 10px; }

#user-console {
  height: 50%;
  overflow-y: auto;
  border: 1px solid black; }
  #user-console p.log {
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom: 1px solid black; }
    #user-console p.log.warn {
      background-color: yellow; }
    #user-console p.log.error {
      background-color: red; }
    #user-console p.log.system-error {
      background-color: black;
      color: white;
      border-bottom: 1px solid white; }

#board-info {
  overflow: hidden; }
  #board-info #board-actions {
    float: left; }
  #board-info #end-game-results {
    float: right; }

#board-wrapper {
  margin: auto;
  height: 50%; }
  #board-wrapper #board-wrapper {
    height: 100%; }
  #board-wrapper #board {
    overflow: hidden; }
  #board-wrapper .space {
    cursor: pointer;
    cursor: hand;
    float: left;
    width: 33%;
    height: 31%;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center; }
    #board-wrapper .space.unselected {
      background-image: url(/images/spaces/blank.png); }
    #board-wrapper .space.selected.user {
      background-image: url(/images/spaces/x.png); }
    #board-wrapper .space.selected.computer {
      background-image: url(/images/spaces/o.png); }
    #board-wrapper .space.selected.winning-space {
      background-color: green; }
  #board-wrapper #space-0, #board-wrapper #space-1, #board-wrapper #space-2 {
    border-top: none; }
  #board-wrapper #space-6, #board-wrapper #space-7, #board-wrapper #space-8 {
    border-bottom: none; }
  #board-wrapper #space-0, #board-wrapper #space-3, #board-wrapper #space-6 {
    border-left: none; }
  #board-wrapper #space-2, #board-wrapper #space-5, #board-wrapper #space-8 {
    border-right: none; }
