body {
  height: 100%; }
  body #container {
    height: inherit; }

#ai-maker-wrapper {
  width: 80%;
  margin: auto; }
  #ai-maker-wrapper #user_ai {
    width: 100%;
    height: 100px; }

#console-debug {
  overflow: hidden; }

.console-output {
  width: 180px;
  float: left;
  padding: 10px;
  margin: 10px;
  border: 1px solid black; }

#board {
  width: 50%;
  margin: auto;
  overflow: hidden;
  height: 500px; }
  #board .space {
    cursor: pointer;
    cursor: hand;
    float: left;
    width: 33%;
    height: 33%;
    text-align: center;
    border: 1px solid black; }
    #board .space.selected.user {
      background-color: red; }
    #board .space.selected.computer {
      background-color: blue; }
    #board .space.selected.winning-space {
      background-color: green; }
  #board #space-0, #board #space-1, #board #space-2 {
    border-top: none; }
  #board #space-6, #board #space-7, #board #space-8 {
    border-bottom: none; }
  #board #space-0, #board #space-3, #board #space-6 {
    border-left: none; }
  #board #space-2, #board #space-5, #board #space-8 {
    border-right: none; }
