#logged-out-wrapper
  #login-signup-link-wrapper
    #show-login-form-link= link_to_void 'Login', :id => 'login-link'
    #show-signup-form-link= link_to_void 'Signup', :id => 'signup-link'
  #login-form-wrapper= render :partial => 'shared/login_form'
  #signup-form-wrapper= render :partial => 'shared/signup_form'
  :javascript
    Account.logout()
