#logged-in-wrapper
  #logo
    %h1 Reddit School of Code:
    %h2 Algorithms
  #account
    #login-name
      %span Welcome
      %span.name= current_user.login
    = link_to 'logout', logout_url, :id => 'logout-link'
    #logout-loader{:style => 'display:none'}
      Loading

  :javascript
    Account.login(#{current_user.id})
    Account.setCode(#{current_user.ai_implementations.first.id})