%html
  %head
    = render :partial => 'shared/head'
  %body
    #container
      #ai-code-wrapper
        = render :partial => 'shared/ai_code'
      #content
        #header
          = render :partial => 'shared/account_bar'
        = yield
      #footer