!!! 5
%html
  %head
    %title Reddit School Of Code
    = render :partial => 'shared/head'
  %body
    #container{:class =>  current_user.present? ? 'logged-in' : 'logged-out'}
      = yield
      #footer
