%html
  %head
    = render :partial => 'shared/head'
  %body
    #container{:class =>  current_user.present? ? 'logged-in' : 'logged-out'}
      = render :partial => 'layouts/the_layout'
      #footer
